@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h4>SaaS Type</h4>
<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Self Hosted</a></li>
    <li class="nav-item"><a class="nav-link">Dedicated Infrastructure</a></li>
    <li class="nav-item"><a class="nav-link">Shared  Infrastructure</a></li>
</ul>


<div class="text-center">
    <div class="modal-body row">
        <div class="col-md-6">
            <table class="table table-primary table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>City</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Max Payne</td>
                        <td> New York</td>
                        <td> $250000</td>
                    </tr>
                    <tr>
                        <td>Harun</td>
                        <td>Jakarta</td>
                        <td>$125000</td>
                    </tr>
                    <tr>
                        <td>Suresh</td>
                        <td>Chennai</td>
                        <td>$115000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <img src="~/img/PricingWidget.png" />
        </div>
    </div>
</div>
